<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Musimatch</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>Musimatch</li>
        </ul>
      </nav>
    </header>
 
    <main>
      <h1>Welcom bij Musimatch</h1>
      <h2>Daily recommendations</h2>
      <ul>
        <li>Glaive</li>
        <li>Kanye West</li>
        <li>Bladee</li>
        <li>Charli XCX</li>
        <li>Chief keef</li>
        <li>Metro Boomin'</li>
      </ul>

      <div class="homeSectionsWrapper">
        <section class="homeSections">
          <p>Lil Peep</p>
        </section>

        <section class="homeSections">
          <p>21 Savage</p>
        </section>

        <section class="homeSections">
          <p>Brakence</p>
        </section>

        <section class="homeSections">
          <p>Polo G</p>
        </section>
        <section class="homeSections">
          <p>Jorja Smith</p>
        </section>
        <section class="homeSections">
          <p>Frank Ocean</p>
        </section>
      </div>
    </main>

    <footer>
      <nav>
        <ul>
          <li><a href="#"> Home </a></li>
          <li><a href="#"> Likes </a></li>
          <li><a href="#"> Profile </a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
